<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 map_container" style="height:600px;" sailing-map>
      <div id="map_canvas" class="maxHeight">

      </div>
    </div>

    <div class="col-md-3 sidebar maxHeight">
      <div ng-include="'templates/menu_side.html'"> </div>
      <ul>
        <li ng-repeat="listing in listings[selected_course]"> <button ng-click="$parent.selected_listing=$index;addMarksAndLine();"> Course {{ course.symbol }} </button> </li>
      </ul>
    </div>


  </div>
</div>
<div class = "col-md-12 weather">
      <p id="weatherStuff"></p>
</div>
