  <div class="container-fluid" ng-controller="MainSailingController">
    <div class="row" sailing-data>
      <div class="col-md-9 map_container" style="height:600px;" sailing-map>
        <div id="map_canvas" class="maxHeight">

        </div>
      </div>

      <div class="col-md-3 sidebar maxHeight">
        <!-- Single button -->
        <!-- <div class="btn-group centered" dropdown is-open="status.isopen">
          <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
            Select a Course <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="course in courses"><a href="#" ng-click="$parent.selectedCourse=$index;addMarksAndLine();">Course {{course.symbol}}</a></li>
          </ul>
        </div> -->
        <ul>
          <li ng-repeat="course in courses"> <button ng-click="$parent.selectedCourse=$index;addMarksAndLine();"> Course {{ course.symbol }} </button> </li>
        </ul>
      </div>
    </div>
  </div>
