  <div class="container-fluid" ng-controller="MainSailingController">
    <div class="row" sailing-data>
      <div class="col-md-3">
        <button ng-click="add_course_marks()"> Add Marker </button>
      </div>
      <div class="col-md-9" style="height:600px;" sailing-map>
        <div id="map_canvas" class="maxHeight">

        </div>
      </div>
    </div>
  </div>
