  <div class="container maxHeight" ng-controller="MainSailingController">
    <div class="row maxHeight">
      <div class="col-md-4">
        <button ng-click="add_course_marks()"> Add Marker </button>
      </div>
      <div class="col-md-9 maxHeight" sailing-map>
        <div id="map_canvas" class="maxHeight">

        </div>
      </div>
    </div>
  </div>
