<!DOCTYPE html>
<html ng-app="sailingApp" lang="en">
<head>
  <title>Sailing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLt2lWCNKnSyJNz3qB4OJjT0QwB4ExG50"> </script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>
<body sailing-data>
  <div ng-view>

  </div
</body>
</html>
