<!DOCTYPE html>
<html ng-app="sailingApp">
<head>
  <title>Sailing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLt2lWCNKnSyJNz3qB4OJjT0QwB4ExG50"> </script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
